@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

canvas {
  display: block;
}
